<!DOCTYPE html>
<html>
<head><font size="10">Article List</font></head>
<body>

<h2>Sqwertyui</h2>
<a href="{% url "server_img" %}">
  <img src="https://source.unsplash.com/S1qSBlXnHlg" alt="Mountain Vie1" style="width:604px;height:528px;">
</a>

<h2>gmfguijahk</h2>
<a href="{% url "server_img" %}">
<img src="https://source.unsplash.com/AENmGl9JVgs" alt="Mountain View" style="width:604px;height:528px;">
<h2>dfghjkljhg</h2>
<a href="{% url "server_img" %}">
<img src="https://source.unsplash.com/CCy2UFLO1Mg" alt="Mountain View" style="width:604px;height:528px;">
<h2>kljlkhkhkjhlkj</h2>
<a href="{% url "server_img" %}">
<img src="https://source.unsplash.com/_XO5xy4bNg4" alt="Mountain View" style="width:604px;height:528px;">
<h2>kfuilooihyyioij</h2>
<a href="{% url "server_img" %}">
<img src="https://source.unsplash.com/S1qSBlXnHlg" alt="Mountain View" style="width:604px;height:528px;">


</body>
</html>